[submodule "third_party/aloha"]
	path = third_party/aloha
	url = https://github.com/Physical-Intelligence/aloha.git
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/Tabletop-Sim"]
	path = third_party/Tabletop-Sim
	url = https://github.com/jellyho/Tabletop-Sim.git
[submodule "third_party/LPS"]
	path = third_party/LPS
	url = git@github.com:jellyho/LPS.git
[submodule "third_party/alphaflow"]
	path = third_party/alphaflow
	url = https://github.com/snap-research/alphaflow.git
